// Fonts
$primary-font: 'Jost', sans-serif;
$secondary-font: 'Space Mono', monospace;

//Font Weight
$light: 300;
$regular: 400;
$bold: 700;

//Line Heigh
$primary-line-height: 140%;
$secondary-line-height: 120%;

// Colours
$black: #000;
$grey: #EAE7E7;
$white: #FFF;

$blue: #310CC3;
$mid-blue: #7999BF;
$lavender: #7375CD;
$red: #C30C0E;

// Transitions
$tfast: all .2s ease;
$tregular: all .5s ease;
$tslow: all 1s ease;