// Fonts
$primary-font: 'Jost', sans-serif;
$secondary-font: 'Space Mono', monospace;

//Font Weight
$light: 300;
$regular: 400;
$bold: 700;

//Line Heigh
$primary-line-height: 140%;
$secondary-line-height: 120%;

// Colours
$black: #000;
$grey: #EAE7E7;
$white: #FFF;

$blue: #310CC3;
$mid-blue: #7999BF;
$dark-blue: #334568;

$lavender: #7375CD;

$red: #C30C0E;
$dark-red: #782F3B;

// Transitions
$tfast: all .2s ease;
$tregular: all .5s ease;
$tslow: all 1s ease;

// Media Queries
$xs: 'screen and (max-width: 320px)';
$s: 'screen and (max-width: 512px) and (min-width: 321px)';
$m: 'screen and (max-width: 768px) and (min-width: 513px)';
$l: 'screen and (max-width: 1024px) and (min-width: 769px)';
$xl: 'screen and (max-width: 1289px) and (min-width: 1025px)';