.experiencias{
    
    .wrapper{
        h1{
            padding-top: 168px;
            color: $red;
            font-family: $secondary-font;
            font-size: 24px;

        }
        .datas{
            li{
                a{

                }
            }
        }
        .etiquetas{
            li{

            }
        }
        .coll{

        }
    }
}