.experiencias{
    padding-bottom: 5px;
    .title{
        margin-top: 100px;
        &:before {
            background: $red;
        }
        h1 {
            color: $red;
        }
    }
    .wrapper{
        .datas{
            display: flex;
            justify-content: center;
            padding-top: 60px;
            text-align: center;
            width: 100%;
            @media #{$m}, #{$s}, #{$xs} {
                flex-direction: column;
            }
            li{
                padding-bottom: 20px;
                padding-left: 45px;
                padding-right: 45px;
                @media #{$l} {
                    padding-left: 20px;
                    padding-right: 20px;
                }
                @media #{$m}, #{$s}, #{$xs} {
                    padding-left: 0;
                    padding-right: 0;
                    width: 100%;
                }
                &:nth-of-type(1) {
                    a {
                        color: $red;
                    }
                }
                a{
                    font-family: $secondary-font;
                    font-size: 18px;
                    color: $black;
                    text-decoration: underline;
                    &:hover {
                        color: $blue;
                    }
                    @media #{$m}, #{$s}, #{$xs} {
                        font-size: 16px;
                    }
                }   
            }   
        }
        .etiquetas{
            display: inline-block;
            margin-bottom: 90px;
            margin-top: 90px;
            text-align: center;
            width: 100%;
            @media #{$s}, #{$xs} {
                margin-bottom: 60px;
                margin-top: 60px;
            }
            li{
                text-align: center;
                min-width: 150px;
                line-height: 35px;
                font-size: 16px;
                font-weight: $bold;
                font-family: $secondary-font;
                border-style: solid;
                border-width: 2px;
                margin-left: 15px;
                margin-right: 15px;
                margin-top: 15px; 
                &[data-color="dark-blue"]{
                    border-color: $dark-blue;
                    color: $dark-blue;
                } 
                &[data-color="dark-red"]{
                    border-color: $dark-red;
                    color: $dark-red;
                }
                &[data-color="red"]{
                    border-color: $red;
                    color: $red;
                }
                &[data-color="lavender"]{
                    border-color: $lavender;
                    color: $lavender;
                }     
                @media #{$s} {
                    font-size: 14px;
                    margin-left: 7.5px;
                    margin-right: 7.5px;
                    min-width: 115px;
                }   
                @media #{$xs} {
                    font-size: 14px;
                    margin-left: 4px;
                    margin-right: 4px;
                    min-width: 115px;
                }
            }
        }
        .grid {
            display: grid;
            grid-gap: 80px;
            grid-template-columns: repeat(3,[col] 1fr);
            width: 100%;
            @media #{$m} {
                grid-gap: 60px;
                grid-template-columns: repeat(2,[col] 1fr);
            }
            @media #{$s}, #{$xs} {
                grid-gap: 40px;
                grid-template-columns: repeat(1,[col] 1fr);
            }
            .cell {
                width: 100%;
                position: relative;
                div {
                    width: 80%;
                    margin: 0 auto;
                    @media #{$m}, #{$s}, #{$xs} {
                        width: 100%;
                    }
                    //Alinhamento
                    &[data-align="left"]{margin-left: 0;}
                    &[data-align="right"]{margin-right: 0;}
                    //Cor de texto
                    &[data-evento="CCB"] {p {color: $red;}}
                    &[data-evento="Parceria"] {p {color: $blue;}}
                    .thumb {
                        background-color: $blue;
                        display: inline-block;
                        height: 200px;     
                        overflow: hidden;           
                        transition: $tregular;
                        width: 100%;
                        img {
                            height: 100%;
                            object-fit: cover;
                            transition: $tregular;
                            width: 100%;
                        }
                    }
                    article {
                        padding: 10px 0 10px;
                        a {
                            h2 {
                                font-family: $secondary-font;
                                font-size: 16px;
                                font-weight: $bold;
                                color: $black;
                                margin-bottom: 10px; 
                                transition: $tregular;
                            }
                            p {
                                font-size: 12px;
                                font-weight: $regular;
                                font-family: $primary-font;  
                                transition: $tregular;
                                span {
                                    font-size: 12px;
                                    font-weight: $bold;
                                }
                            } 
                        }
                    }
                    &:hover {
                        .thumb {
                            img {
                                mix-blend-mode: plus-lighter;
                            }
                        }
                        article {
                            a {
                                h2, p {
                                    color: $lavender;
                                }
                            }
                        }
                    }
                }
            }
        }
        .btn {
            display: block;
            margin-top: 125px;
            @media #{$m} {
                margin-top: 90px;
            }
            @media #{$s}, #{$xs} {
                margin-top: 60px;
            }
        }      
    }
}