.grid {
    display: grid;
    grid-gap: 80px;
    grid-template-columns: repeat(3,[col] 1fr);
    width: 100%;
    .cell {
        width: 100%;
        position: relative;
        div {
            width: 80%;
            margin: 0 auto;
            //Alinhamento
            &[data-align="left"]{margin-left: 0;}
            &[data-align="right"]{margin-right: 0;}
            //Cor de texto
            &[data-evento="CCB"] {p {color: $red;}}
            &[data-evento="Parceria"] {p {color: $blue;}}
            .thumb {
                background-color: $blue;
                display: inline-block;
                height: 200px;     
                overflow: hidden;           
                transition: $tregular;
                width: 100%;
                img {
                    height: 100%;
                    min-height: 100%;
                    min-width: 100%;
                    transition: $tregular;
                    width: 100%;
                }
            }
            article {
                padding: 10px 0 10px;
                a {
                    h2 {
                        font-family: $secondary-font;
                        font-size: 16px;
                        font-weight: $bold;
                        color: $black;
                        margin-bottom: 10px; 
                        transition: $tregular;
                    }
                    p {
                        font-size: 12px;
                        font-weight: $regular;
                        font-family: $primary-font;  
                        transition: $tregular;
                        span {
                            font-size: 12px;
                            font-weight: $bold;
                        }
                    } 
                }
            }
            &:hover {
                .thumb {
                    img {
                        mix-blend-mode: plus-lighter;
                    }
                }
                article {
                    a {
                        h2, p {
                            color: $lavender;
                        }
                    }
                }
            }
        }
    }
}