header {
    background-attachment: fixed;
    background-image: url(../img/CCB-Gradient.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid $white;
    padding: 20px 0;
    position: fixed;
    transition: $tslow;
    width: 100%;
    z-index: 2;
    .wrapper {
        align-items: center;
        display: flex;
        justify-content: space-between;
        .logo {
            width: 100%;
            max-width: 50%;
            z-index: 1;
            @media #{$m}, #{$s}, #{$xs} {
                max-width: 90%;
            }
            a {
                color: $black;
                font-size: 18px;
                font-weight: $bold;
                @media #{$m} {
                    font-size: 16px;
                }
                @media #{$s} {
                    font-size: 14px;
                }
                @media #{$xs} {
                    font-size: 12px;
                }
                &:hover {
                    color: $blue;
                }
            }
            p {
                color: $black;
                display: inline;
                font-size: 18px;
                margin: 0 5px;
                @media #{$m} {
                    font-size: 16px;
                }
                @media #{$s} {
                    font-size: 14px;
                }
                @media #{$xs} {
                    font-size: 12px;
                    margin: 0 4px;
                }
            }
            svg {
                height: 26px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                @media #{$m} {
                    height: 24px;
                }
                @media #{$s} {
                    height: 22px;
                }
                @media #{$xs} {
                    height: 20px;
                }
            }
        }
        .menu {
            display: inline-block;
            width: 100%;
            max-width: 50%;
            transition: $tslow;
            ul {
                text-align: right;
                width: 100%;
                li {
                    &:not(:first-of-type) {
                        margin-left: 30px;
                        @media #{$l} {
                            margin-left: 20px;
                        }
                    }
                    a {
                        color: $black;
                        font-size: 18px;
                        font-weight: $bold;
                        @media #{$m}, #{$s}, #{$xs} {
                            font-size: 35px;
                            &:hover {
                                color: $white;
                            }
                        }
                        &:hover {
                            color: $blue;
                        }
                    }
                }
            }
            @media #{$m}, #{$s}, #{$xs}{
                align-items: center;
                background: $blue;
                display: flex;
                height: 100vh;
                left: 0;
                padding: 50px;
                position: absolute;
                max-width: 100%;
                top: -100vh;
                &.open {
                    top: 0;
                }
                ul {
                    text-align: left;
                    li {
                        width: 100%;
                        &:not(:first-of-type) {
                            margin-left: 0px;
                        }
                        &:not(:last-of-type) {
                            margin-bottom: 15px;
                        }
                    }
                }
            }
            @media #{$m}{
                padding-left: 50px;
                padding-right: 50px;
            }
            @media #{$s}{
                padding-left: 40px;
                padding-right: 40px;
            }
            @media #{$xs}{
                padding-left: 30px;
                padding-right: 30px;
            }
        }
        .menu-mobile {
            display: none;
            height: 16px;
            overflow: hidden;
            position: relative;
            right: 0;
            width: 18px;
            @media #{$m}, #{$s}, #{$xs} {
                display: block;
            }
            @media #{$s} {
                height: 14px;
            }
            @media #{$xs} {
                height: 12px;
            }
            &:before{
                background: $black;
                content: "";
                display: block;
                height: 1px;
                position: absolute;
                right: 0;
                top: calc(50% - 4px);
                transform: translateY(-50%);
                transition: $tfast;
                width: 100%;
            }
            &:after{
                background: $black;
                bottom: calc(50% - 4px);;
                content: "";
                display: block;
                height: 1px;
                position: absolute;
                right: 0;
                transform: scaleX(1) translateY(-50%);
                transition: $tfast;
                width: 100%;
            }
            &:hover{
                &:before{
                    background: $white;
                    width: 80%;
                }
                &:after {
                    background: $white;
                    opacity: 1;
                }
            }
            &.close {
                &:before{
                    background: $black;
                    position: absolute;
                    top: 50%;
                    transform: rotate(45deg)translateY(-50%);										
                }
                &:after{
                    background: $black;
                    position: absolute;
                    top: 50%;
                    transform: rotate(-45deg)translateY(-50%);
                }
                &:hover{
                    &:before{
                        background: $white;
                        width: 100%;
                    }
                    &:after{
                        background: $white;
                    }
                }
            }
        }
    }
}