header {
    background-attachment: fixed;
    background-image: url(../img/fundo_base.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: 1px solid $white;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    .wrapper {
        align-items: center;
        display: flex;
        justify-content: space-between;
        .logo {
            color: $black;
            font-size: 18px;
            width: 100%;
            max-width: 50%;
            span {
                color: $black;
                font-size: 18px;
                font-weight: $bold;
                &:hover {
                    color: $blue;
                }
            }
            svg {
                display: inline-block;
                height: 100%;
                max-height: 26px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        nav {
            display: inline-block;
            width: 100%;
            max-width: 50%;
            ul {
                text-align: right;
                width: 100%;
                li {
                    &:not(:first-of-type) {
                        margin-left: 30px;
                    }

                    a {
                        color: $black;
                        font-size: 18px;
                        font-weight: $bold;
                        &:hover {
                            color: $blue;
                        }
                    }
                }
            }
        }
    }
}