.hero {
    background-attachment: fixed;
    background-image: url(../img/fundo_base.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    .wrapper {
        article {
            &:nth-of-type(1) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                min-height: calc(100vh - 96px);
                position: relative;
                pointer-events: none;
                z-index: 1;
                div {
                    &:nth-of-type(1) {
                        margin-bottom: 5vw;
                        position: relative;
                        width: auto;
                        transition: $tregular;
                    }
                    &:nth-of-type(2) {
                        max-width: 50%;
                        width: 100%;
                    }
                    &#scroll {
                        align-items: center;
                        background: $red;
                        border-radius: 50%;
                        bottom: 0;
                        cursor: pointer;
                        display: flex;
                        height: 6.25vw;
                        justify-content: center;
                        position: absolute;
                        right: 0;
                        width: 6.25vw;
                    }
                    h1 {
                        color: $white;
                        display: inline-block;
                        font-family: $secondary-font;
                        font-size: 7vw;
                    }
                    h2 {
                        color: $white;
                        display: inline-block;
                        font-family: $secondary-font;
                        font-size: 18px;
                        text-align: right;
                    }
                    p {
                        color: $white;
                        font-family: $secondary-font;
                        font-size: 1.6vw;
                    }
                }
            }
            &:nth-of-type(2) {
                background-image: url(../img/ondas_ccb.png);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                padding-bottom: 215px;
                div {
                    width: 100%;
                    &:nth-of-type(1) {
                        margin-bottom: 170px;
                        max-width: 100%;
                        h1 {
                            color: $black;
                            display: inline-block;
                            font-family: $primary-font;
                            font-size: 3.2vw;
                            font-weight: $bold;
                            margin-right: 1.5vw;
                        }
                        p {
                            color: $white;
                            display: inline-block;
                            font-family: $primary-font;
                            font-size: 1.25vw;
                            font-weight: $bold;
                        }
                    }
                    &:nth-of-type(2) {
                        margin-bottom: 50px;
                        max-width: 50%;
                        p {
                            color: $white;
                            font-size: 48px;
                            font-family: $secondary-font;
                            font-weight: $bold;
                        }
                    }
                    &:nth-of-type(3) {
                        max-width: 100%;
                        p {
                            color: $white;
                            font-size: 18px;
                            font-family: $secondary-font;
                            span {
                                color: $blue;
                                font-size: 18px;
                                font-family: $secondary-font;
                            }
                        }
                    }
                }
            }
            &:nth-of-type(3) {
                left: 0;
                height: 100vh;
                position: absolute;
                overflow: hidden;
                top: 0;
                width: 100vw;
                div {
                    &.circle {
                        // animation: circle 20s infinite;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 50%;
                        filter: grayscale(100%);
                        position: absolute;
                        transform: scale(0.6);
                        transition: $tregular;
                        &:hover {
                            filter: none;
                        }
                        &[data-circle='1'] {
                            animation-delay: 0s;
                            bottom: 6vh;
                            background-image: url("../img/Frontend imagens/Bolas/Rectangle 9.png");
                            left: -10vw;
                            height: 32.5vw;
                            width: 32.5vw;
                        }
                        &[data-circle='2'] {
                            animation-delay: 0.5s;
                            background-image: url("../img/Frontend imagens/Bolas/Rectangle 8.png");
                            bottom: 56vh;
                            left: 3.5vw;
                            height: 29vw;
                            width: 29vw;
                        }
                        &[data-circle='3'] {
                            animation-delay: 1s;
                            background-image: url("../img/Frontend imagens/Cartaz/Filipe_Sambado.png");
                            bottom: 17vh;
                            left: 28vw;
                            height: 32vw;
                            width: 32vw;
                        }
                        &[data-circle='4'] {
                            animation-delay: 1.5s;
                            background-image: url("../img/Frontend imagens/Bolas/Rectangle 10.png");
                            bottom: 71vh;
                            left: 34vw;
                            height: 25vw;
                            width: 25vw;
                        }
                        &[data-circle='5'] {
                            animation-delay: 2s;
                            background-image: url("../img/Frontend imagens/Bolas/Rectangle 6.png");
                            left: 40vw;
                            height: 187px;
                            width: 187px;
                        }
                        &[data-circle='6'] {
                            animation-delay: 2.5s;
                            background-image: url("../img/Frontend imagens/Bolas/Rectangle 86.png");
                            left: 50vw;
                            height: 375px;
                            width: 375px;
                        }
                        &[data-circle='7'] {
                            animation-delay: 3s;
                            background-image: url("../img/Frontend imagens/Bolas/photo-of-woman-dancing-4632091.png");
                            left: 60vw;
                            height: 218px;
                            width: 218px;
                        }
                        &[data-circle='8'] {
                            animation-delay: 3.5s;
                            background-image: url("../img/Frontend imagens/Bolas/Rectangle 11.png");
                            left: 70vw;
                            height: 252px;
                            width: 252px;
                        }
                    }
                    &.add {
                        animation: circle 20s infinite;
                        background: $black;
                        border-radius: 50%;
                        height: 60px;
                        position: absolute;
                        width: 60px;
                        &:before {
                            content: "";
                            background: $white;
                            display: block;
                            left: 50%;
                            height: 1px;
                            position: absolute;
                            transform: translate(-50%, -50%);
                            transition: $tregular;
                            top: 50%;
                            width: 27.5px;
                        }
                        &:after {
                            content: "";
                            background: $white;
                            display: block;
                            left: 50%;
                            height: 27.5px;
                            position: absolute;
                            transform: translate(-50%, -50%);
                            transition: $tregular;
                            top: 50%;
                            width: 1px;
                        }
                        &:hover {
                            &:before{
                                transform: rotate(90deg) translate(-50%, -50%);
                            }
                            &:after{
                                transform: rotate(90deg) translate(-50%, -50%);
                            }
                        }
                    }
                }
            }
        }
    }
}