.hero {
    background-attachment: fixed;
    background-image: url("../img/fundo_base.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    .wrapper {
        article {
            &:nth-of-type(1) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                min-height: calc(100vh - 76px);
                position: relative;
                pointer-events: none;
                z-index: 1;
                div {
                    &:nth-of-type(1) {
                        margin-bottom: 5vw;
                        position: relative;
                        width: auto;
                        transition: $tregular;
                    }
                    &:nth-of-type(2) {
                        max-width: 50%;
                        width: 100%;
                    }
                    &#scroll {
                        align-items: center;
                        background: $red;
                        border-radius: 50%;
                        bottom: 0;
                        cursor: pointer;
                        display: flex;
                        height: 6.25vw;
                        justify-content: center;
                        position: absolute;
                        right: 0;
                        width: 6.25vw;
                    }
                    h1 {
                        color: $white;
                        display: inline-block;
                        font-family: $secondary-font;
                        font-size: 96px;
                    }
                    h2 {
                        color: $white;
                        display: inline-block;
                        font-family: $secondary-font;
                        font-size: 18px;
                        text-align: right;
                    }
                    p {
                        color: $white;
                        font-family: $secondary-font;
                        font-size: 24px;
                        line-height: $primary-line-height;
                        span {
                            font-size: inherit;
                            text-decoration: underline;
                        }
                    }
                }
            }
            &:nth-of-type(2) {
                padding-bottom: 215px;
                div {
                    width: 100%;
                    &:nth-of-type(1) {
                        margin-bottom: 170px;
                        max-width: 100%;
                        h1 {
                            color: $black;
                            display: inline-block;
                            font-family: $primary-font;
                            font-size: 46px;
                            font-weight: $bold;
                            margin-right: 30px;
                        }
                        p {
                            color: $white;
                            display: inline-block;
                            font-family: $primary-font;
                            font-size: 1.25vw;
                            font-weight: $bold;
                        }
                    }
                    &:nth-of-type(2) {
                        margin-bottom: 50px;
                        max-width: 50%;
                        p {
                            color: $white;
                            font-size: 48px;
                            font-family: $secondary-font;
                            font-weight: $bold;
                        }
                    }
                    &:nth-of-type(3) {
                        max-width: 100%;
                        p {
                            color: $white;
                            font-size: 18px;
                            font-family: $secondary-font;
                            span {
                                color: $blue;
                                font-size: 18px;
                                font-family: $secondary-font;
                            }
                        }
                    }
                }
                img {
                    left: 50%;
                    opacity: 0.5;
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 100vw;
                }
            }
            &:nth-of-type(3) {
                left: 0;
                height: 100vh;
                position: absolute;
                overflow: hidden;
                top: 0;
                width: 100vw;
                div {
                    &.circle {
                        animation: circle 20s infinite;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 50%;
                        cursor: pointer;
                        filter: grayscale(100%);
                        opacity: 0;
                        position: absolute;
                        transition: $tregular;
                        &:hover {
                            filter: none;
                        }
                        &:active {
                            transform: scale(0.8);
                        }
                        &[data-circle='1'] {
                            animation-delay: 0s;
                            bottom: 6vh;
                            background-image: url("../img/Frontend imagens/Bolas/Rectangle 9.png");
                            left: -10vw;
                            height: 300px;
                            width: 300px;
                        }
                        &[data-circle='2'] {
                            animation-delay: 0.5s;
                            background-image: url("../img/Frontend imagens/Bolas/Rectangle 8.png");
                            bottom: 56vh;
                            left: 3.5vw;
                            height: 284px;
                            width: 284px;
                        }
                        &[data-circle='3'] {
                            animation-delay: 1s;
                            background-image: url("../img/Frontend imagens/Cartaz/Filipe_Sambado.png");
                            bottom: 17vh;
                            left: 28vw;
                            height: 280px;
                            width: 280px;
                        }
                        &[data-circle='4'] {
                            animation-delay: 1.5s;
                            background-image: url("../img/Frontend imagens/Bolas/Rectangle 10.png");
                            bottom: 69vh;
                            left: 34vw;
                            height: 227px;
                            width: 227px;
                        }
                        &[data-circle='5'] {
                            animation-delay: 2s;
                            background-image: url("../img/Frontend imagens/Bolas/Rectangle 6.png");
                            bottom: 2vw;
                            left: 49vw;
                            height: 187px;
                            width: 187px;
                        }
                        &[data-circle='6'] {
                            animation-delay: 2.5s;
                            background-image: url("../img/Frontend imagens/Bolas/Rectangle 86.png");
                            bottom: 29vh;
                            left: 47vw;
                            height: 375px;
                            width: 375px;
                        }
                        &[data-circle='7'] {
                            animation-delay: 3s;
                            background-image: url("../img/Frontend imagens/Bolas/photo-of-woman-dancing-4632091.png");
                            bottom: 9vh;
                            left: 65vw;
                            height: 227px;
                            width: 227px;
                        }
                        &[data-circle='8'] {
                            animation-delay: 3.5s;
                            background-image: url("../img/Frontend imagens/Bolas/Rectangle 11.png");
                            bottom: 55vh;
                            left: 80vw;
                            height: 252px;
                            width: 252px;
                        }
                    }
                    &.add {
                        background: $black;
                        border-radius: 50%;
                        cursor: pointer;
                        height: 60px;                        
                        position: absolute;
                        transition: $tregular;
                        width: 60px;
                        &:before {
                            content: "";
                            background: $white;
                            display: block;
                            left: 50%;
                            height: 1px;
                            position: absolute;
                            transform: translate(-50%, -50%);
                            transform-origin: 0 0;
                            transition: $tregular;
                            top: 50%;
                            width: 2vw;
                        }
                        &:after {
                            content: "";
                            background: $white;
                            display: block;
                            left: 50%;
                            height: 2vw;
                            position: absolute;
                            transform: translate(-50%, -50%);
                            transform-origin: 0 0;
                            transition: $tregular;
                            top: 50%;
                            width: 1px;
                        }
                        &:hover {
                            background: $blue;
                        }
                        &:active {
                            transform: scale(0.8);
                        }
                        &[data-add='1']{
                            bottom: 19vh;
                            left: 29vw;
                        }
                        &[data-add='2']{
                            bottom: 80vh;
                            left: 70vw;
                        }
                        &[data-add='3']{
                            bottom: 44vh;
                            left: 89vw;
                        }
                    }
                    &#scroll {
                        align-items: center;
                        background: $red;
                        border-radius: 50%;
                        bottom: 7.5vw;
                        cursor: pointer;
                        display: flex;
                        height: 80px;
                        justify-content: center;
                        position: absolute;
                        right: 7.5vw;
                        width: 80px;
                    }
                }
            }
        }
    }
}