.hero {
    background-attachment: fixed;
    background-color: $white;
    background-image: url("../img/CCB-Gradient.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
    .wrapper {
        article {
            &.cultura {
                display: flex;
                flex-direction: column;
                justify-content: center;
                min-height: calc(100vh - 75px);
                position: relative;
                pointer-events: none;
                z-index: 1;
                div {
                    &:nth-of-type(1) {
                        margin-bottom: 5vw;
                        position: relative;
                        width: auto;
                        text-align: right;
                        transition: $tregular;
                    }
                    &:nth-of-type(2) {
                        max-width: 50%;
                        width: 100%;
                    }
                    h1 {
                        color: $white;
                        display: inline-block;
                        font-family: $secondary-font;
                        font-size: 96px;
                    }
                    h2 {
                        color: $white;
                        display: inline-block;
                        font-family: $secondary-font;
                        font-size: 18px;
                        text-align: right;
                    }
                    p {
                        color: $white;
                        font-family: $secondary-font;
                        font-size: 24px;
                        line-height: $primary-line-height;
                        span {
                            font-size: inherit;
                            text-decoration: underline;
                        }
                    }
                }
            }
            &.festival {
                padding-bottom: 215px;
                position: relative;
                z-index: 1;
                &:after {
                    background-image: url("../img/CCB-Ondas.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    bottom: 0;
                    content: "";
                    display: block;
                    left: 50%;
                    height: 100%;
                    width: 100vw;
                    position: absolute;
                    transform: translateX(-50%);
                    z-index: -1;
                }
                div {
                    width: 100%;
                    &:nth-of-type(1) {
                        margin-bottom: 170px;
                        max-width: 100%;
                        h1 {
                            color: $black;
                            display: inline-block;
                            font-family: $primary-font;
                            font-size: 45px;
                            font-weight: $bold;
                            margin-right: 30px;
                        }
                        p {
                            color: $white;
                            display: inline-block;
                            font-family: $primary-font;
                            font-size: 1.25vw;
                            font-weight: $bold;
                        }
                    }
                    &:nth-of-type(2) {
                        margin-bottom: 50px;
                        max-width: 60%;
                    }
                    &:nth-of-type(3) {
                        max-width: 100%;
                        p {
                            color: $white;
                            font-size: 18px;
                            font-family: $secondary-font;
                            span {
                                color: $blue;
                                font-size: 18px;
                                font-family: $secondary-font;
                            }
                        }
                    }
                }
                img {
                    animation: slide 5s infinite;
                    left: 50%;
                    opacity: 0.2;
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 100vw;
                }
            }
            &.circulos {
                left: 0;
                height: 100vh;
                position: absolute;
                overflow: hidden;
                top: 0;
                width: 100vw;
                div {
                    &.circle {
                        animation: circle 20s infinite;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 50%;
                        cursor: pointer;
                        filter: grayscale(100%);
                        opacity: 0;
                        position: absolute;
                        transition: $tregular;
                        &:hover {
                            filter: none;
                        }
                        &:active {
                            transform: scale(0.8);
                        }
                        &[data-circle='1'] {
                            animation-delay: 0s;
                            bottom: 12.5vh;
                            background-image: url("../img/Frontend imagens/Bolas/Rectangle 9.png");
                            left: -3vw;
                            height: 20vw;
                            width: 20vw;
                        }
                        &[data-circle='2'] {
                            animation-delay: 0.5s;
                            background-image: url("../img/Frontend imagens/Bolas/Rectangle 8.png");
                            bottom: 61.5vh;
                            left: 10vw;
                            height: 19.5vw;
                            width: 19.5vw;
                        }
                        &[data-circle='3'] {
                            animation-delay: 1s;
                            background-image: url("../img/Frontend imagens/Bolas/10_1.jpg");
                            bottom: 23vh;
                            left: 36vw;
                            height: 19.25vw;
                            width: 19.25vw;
                        }
                        &[data-circle='4'] {
                            animation-delay: 1.5s;
                            background-image: url("../img/Frontend imagens/Bolas/Rectangle 10.png");
                            bottom: 78vh;
                            left: 36.5vw;
                            height: 18.5vw;
                            width: 18.5vw;
                        }
                        &[data-circle='5'] {
                            animation-delay: 2s;
                            background-image: url("../img/Frontend imagens/Bolas/Rectangle 6.png");
                            bottom: 2vw;
                            left: 52.5vw;
                            height: 14.5vw;
                            width: 14.5vw;
                        }
                        &[data-circle='6'] {
                            animation-delay: 2.5s;
                            background-image: url("../img/Frontend imagens/Bolas/Rectangle 86.png");
                            bottom: 38vh;
                            left: 57.5vw;
                            height: 26.5vw;
                            width: 26.5vw;
                        }
                        &[data-circle='7'] {
                            animation-delay: 3s;
                            background-image: url("../img/Frontend imagens/Bolas/photo-of-woman-dancing-4632091.png");
                            bottom: 11vh;
                            left: 73vw;
                            height: 15vw;
                            width: 15vw;
                        }
                        &[data-circle='8'] {
                            animation-delay: 3.5s;
                            background-image: url("../img/Frontend imagens/Bolas/Rectangle 11.png");
                            bottom: 60vh;
                            left: 84vw;
                            height: 18vw;
                            width: 18vw;
                        }
                    }
                    &.add {
                        background: $black;
                        border-radius: 50%;
                        cursor: pointer;
                        height: 4.5vw;                        
                        position: absolute;
                        transition: $tregular;
                        width: 4.5vw;
                        &:before {
                            content: "";
                            background: $white;
                            display: block;
                            left: 50%;
                            height: 1px;
                            position: absolute;
                            transform: translate(-50%, -50%);
                            transform-origin: 0 0;
                            transition: $tregular;
                            top: 50%;
                            width: 2vw;
                        }
                        &:after {
                            content: "";
                            background: $white;
                            display: block;
                            left: 50%;
                            height: 2vw;
                            position: absolute;
                            transform: translate(-50%, -50%);
                            transform-origin: 0 0;
                            transition: $tregular;
                            top: 50%;
                            width: 1px;
                        }
                        &:hover {
                            background: $blue;
                        }
                        &:active {
                            transform: scale(0.8);
                        }
                        &[data-add='1']{
                            bottom: 14vh;
                            left: 29vw;
                        }
                        &[data-add='2']{
                            bottom: 84.5vh;
                            left: 72.25vw;
                        }
                        &[data-add='3']{
                            bottom: 41.5vh;
                            left: 90.5vw;
                        }
                    }
                    &#scroll {
                        align-items: center;
                        background: $red;
                        border-radius: 50%;
                        bottom: 5vw;
                        cursor: pointer;
                        display: flex;
                        height: 5vw;
                        justify-content: center;
                        position: absolute;
                        right: 5vw;
                        width: 5vw;
                        z-index: 1;
                        svg {
                            height: 30px;
                            left: 50%;
                            position: absolute;
                            transform: translate(-50%, -50%);
                            transition: $tregular;
                            top: 50%;
                        }
                        .wave {
                            opacity: 1;
                            transform: translate(-50%, -50%) rotateY(0deg);
                        }
                        .arrow {
                            opacity: 0;
                            transform: translate(-50%, -50%) rotateY(90deg);
                        }
                        &:hover {
                            .wave {
                                opacity: 0;
                                transform: translate(-50%, -50%) rotateY(90deg);
                            }
                            .arrow {
                                opacity: 1;
                                transform: translate(-50%, -50%) rotateY(0deg);
                            }
                        }
                    }
                }
                form {
                    background: $white;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    display: none;
                    left: 50%;
                    padding: 50px 30px;
                    position: fixed;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    width: 500px;
                    z-index: 1;
                    h1 {
                        font-family: $secondary-font;
                        font-size: 24px;
                        font-weight: $bold;
                        margin-bottom: 15px;
                    }
                    p {
                        font-family: $secondary-font;
                        font-size: 13px;
                        margin-bottom: 30px;
                    }
                    textarea {
                        background: $grey;
                        border: none;
                        font-family: $secondary-font;
                        font-size: 15px;
                        margin-bottom: 38px;
                        padding: 14px;
                        width: 100%;
                    }
                    label {
                        display: inline-block;
                        font-family: $secondary-font;
                        font-size: 18px;
                        font-weight: $bold;
                        margin-bottom: 15px;
                    }
                    input {
                        background: $grey;
                        border: none;
                        font-family: $secondary-font;
                        font-size: 15px;
                        margin: 0;
                        padding: 14px;
                        width: 100%;
                    }
                    div {
                        display: inline-block;
                        margin-bottom: 25px;
                        &.nome {
                            margin-right: 30px;
                            width: 160px;
                        }
                        &.email {
                            width: 250px;
                        }
                    }
                    a {
                        color: $blue;
                        display: inline-block;
                        font-family: $secondary-font;
                        font-size: 18px;
                        font-weight: $bold;
                        padding: 15px 0;
                        text-align: center;
                        transition: $tfast;
                        &:nth-of-type(1) {
                            display: block;
                            position: absolute;
                            height: 15px;
                            overflow: hidden;
                            right: 30px;
                            top: 17.5px;
                            width: 15px;
                            &:before {
                                background: $blue;
                                content: "";
                                display: block;
                                left: 50%;
                                height: 1px;
                                position: absolute;
                                transform: translate(-50%, 50%) rotate(45deg);
                                transition: $tfast;
                                top: 50%;
                                width: 100%;
                            }
                            &:after {
                                background: $blue;
                                content: "";
                                display: block;
                                left: 50%;
                                height: 1px;
                                position: absolute;
                                transform: translate(-50%, 50%) rotate(-45deg);
                                transition: $tfast;
                                top: 50%;
                                width: 100%;
                            }
                        }
                        &:nth-of-type(2){
                            margin-right: 30px;
                            text-decoration: underline;
                            width: 160px;
                        }
                        &:nth-of-type(3){
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                            position: relative;
                            width: 250px;
                            &:before {
                                background: $blue;
                                content: "";
                                display: inline-block;
                                width: 8px;
                                height: 100%;
                                position: absolute;
                                left: 0;
                                top: 0;
                                transition: $tfast;
                                z-index: -1;
                            }
                            &:hover {
                                color: $white;
                                &:before {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}