body {
	font-family: $primary-font;
}

.wrapper {
	box-sizing: border-box;
	max-width: 1289px;
	width: 100%;
	margin: 0 auto;
	@include mq(0,1289px){
		padding-left: 60px;
		padding-right: 60px;
	}
}

ul {
	display: inline-block;
	li {
		display: inline-block;
	}
}

a {
	text-decoration: none;
}

#bar {
	background: $theme;
	width: 5px;
	left: 0;
	max-height: 100%;
	top: 0;
	height: 0;
}